.DS_Store
*.xcuserstate
/SwiftUI_demo_perso
/Swift5.playground/playground.xcworkspace/xcuserdata/mbritto.xcuserdatad/UserInterfaceState.xcuserstate
/SwiftUI_lists/SwiftUI_lists.xcodeproj/xcuserdata/mbritto.xcuserdatad/xcdebugger
/SwiftUI_lists/SwiftUI_lists.xcodeproj/xcuserdata/mbritto.xcuserdatad/xcschemes/xcschememanagement.plist
mbritto.xcuserdatad
